[submodule "rust-mode"]
	path = rust-mode
	url = https://github.com/rust-lang/rust-mode
[submodule "s.el"]
	path = s.el
	url = https://github.com/magnars/s.el
[submodule "groovy-emacs-modes"]
	path = groovy-emacs-modes
	url = https://github.com/Groovy-Emacs-Modes/groovy-emacs-modes
