[submodule "rust-mode"]
	path = rust-mode
	url = https://github.com/rust-lang/rust-mode
[submodule "s.el"]
	path = s.el
	url = https://github.com/magnars/s.el
[submodule "swift-mode"]
	path = swift-mode
	url = https://github.com/swift-emacs/swift-mode
[submodule "nginx-mode"]
	path = nginx-mode
	url = https://github.com/ajc/nginx-mode
